<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab_ADO_1115_v1.Properties.Settings.My_DATA" connectionString="Data Source=LAPTOP-6MR6T3L5\SQLEXPRESS;Initial Catalog=AdventureWorksDW2019;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>