body {
    background-image: url(./poto/back/back-7.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 1920px 950px;
    /* display: flex; */
    /* width: 1600px; */

}

.nm {
    /* background-image: url(./icon/icon_1.png);
    background-position: 430px;
    background-repeat: no-repeat;
    background-size: 300px 190px; */
    position: absolute;
    /* display: flex; */
    text-align: center;
    margin: auto;
    width: 1920px;
    height: 50px;
    font-size: 20px;
    flex: auto;
    /* border: 1px red solid; */
    padding: 10px;
    /* left: 550px; */
}

form {
    font-family: "標楷體";
    position: absolute;
    /* border: 1px blue solid; */
    font-size: 30px;
    /* line-height: 50px; */
    margin: auto;
    text-align: center;
    width: 400px;
    top: 100px;
    left: 750px;
}

input {
    font-size: 30px;
    border-radius: 20px;
}

fieldset {
    border-radius: 10px;
}

button {
    font-size: 18px;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    
}

a:link {
    color: red
}

a:visited {
    color: black
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

a {
    text-decoration: none;
}