* {
    margin: 0;
    display: 0;
}

#hed {
    background-color: bisque;
    /* border: 1px red solid; */
    font-size: 30px;
    text-align: center;
}

.List {
    font-size: 30px;
    border: 1px red solid;
    width: 470px;
    float: left;
    text-align: center;

}